<ion-content [fullscreen]="true">

  <div class="ion-text-right" style="margin: 20px;">
    <ion-icon (click)="closeModal()" color="dark" name="close" size="large"></ion-icon>
  </div>
  <ion-img class="ion-margin-top ion-padding-top mt-5" src="assets/google_play_services.png"></ion-img>
  <div class="text-center mx-5">

    <ion-title size="large">Google Play Services</ion-title>
    <ion-text>
      <p>It seems that your Google Play Services have not been updated yet. Please check for updates to get the latest version and restart app</p>
      <ion-button color="light" href="https://play.google.com/store/apps/details?id=com.google.android.gms">Check Google Play Services</ion-button>
    </ion-text>
  </div>
  
</ion-content>
