<ion-header>
  <ion-toolbar color="primary" style="padding-top: 50px;">
    <ion-title>{{ is_add_product ? 'Add Product' : product?.product_name }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card style="border: 2px solid #f44336; border-radius: 8px;" *ngIf="is_add_product">
    <ion-card-content>
      {{ _translation_service.translateKey('please_fill_new_product') }}
    </ion-card-content>
  </ion-card>


  <ion-accordion-group  [multiple]="true">
    <!-- =============== NON IMAGE FIELDS =============== -->
    <ion-accordion value="general-information" toggleIcon="caret-down-circle" toggleIconSlot="end" class="ion-margin-bottom border-radius-8px">
      <ion-item slot="header" color="primary">
        <ion-label>{{ _translation_service.translateKey('general') | titlecase }}</ion-label>
      </ion-item>

      <div slot="content">
        <ion-list>

          <div class="nutrition-table m-0">

            <div class="nutrition-row vertical">
              <div class="nutrition-label">
                {{ _translation_service.translateKey('code') }}
              </div>
              <ion-input class="nutrition-input" [(ngModel)]="product.code" [disabled]="true">
              </ion-input>
            </div>

            <div class="nutrition-row vertical">
              <div class="nutrition-label">
                {{ _translation_service.translateKey('product_name') }}
              </div>
              <ion-input
                class="nutrition-input full"
                [(ngModel)]="product.product_name">
              </ion-input>
            </div>

            <div class="nutrition-row vertical">
              <div class="nutrition-label">
                {{ _translation_service.translateKey('product_name_in_en') }}
              </div>
              <ion-input
                class="nutrition-input full"
                [(ngModel)]="product.product_name_en">
              </ion-input>
            </div>

            <div class="nutrition-row vertical">
              <div class="nutrition-label">
                {{ _translation_service.translateKey('brand') }}
              </div>
              <ion-input
                class="nutrition-input full"
                [(ngModel)]="product.brands">
              </ion-input>
            </div>
            
            <div class="nutrition-row">
              <div class="nutrition-label">{{ _translation_service.translateKey('quantity') }}</div>
              <div class="nutrition-inputs">
                <ion-input [(ngModel)]="product.quantity" class="nutrition-input text-right"></ion-input>
              </div>
              <ion-icon name="help-circle-outline" size="large" class="px-1" color="success" (click)="openQuantityInfo()"></ion-icon>
            </div>

            <div class="nutrition-row vertical">
              <div class="nutrition-label">
                {{ _translation_service.translateKey('origins') }}
              </div>
              <ion-input
                class="nutrition-input full"
                [(ngModel)]="product.origins">
              </ion-input>
            </div>

            <!-- <div class="nutrition-row vertical">
              <div class="nutrition-label">
                Manufacturing Places
              </div>
              <ion-input
                class="nutrition-input full"
                [(ngModel)]="product.manufacturing_places">
              </ion-input>
            </div> -->

          </div>

        </ion-list>
      </div>

    </ion-accordion>
    <ion-img
      *ngIf="product?.image_thumb_url && is_add_product"
      [src]="product.image_thumb_url">
    </ion-img>
    <app-image-fields
      *ngIf="product"
      [product]="product"
      [imageLoading]="imageLoading"
      [allImages]="allImages"
      [is_add_product]="is_add_product"
      [is_image_thumb_url]="product?.image_thumb_url"
      [onImageSelected]="onImageSelected.bind(this)"
    ></app-image-fields>

    <!-- =============== Ingredient =============== -->
    <ion-accordion *ngIf="!is_add_product" value="ingredient" toggleIcon="caret-down-circle" toggleIconSlot="end" class="ion-margin-bottom border-radius-8px">
      <ion-item slot="header" color="primary">
        <ion-label>{{ _translation_service.translateKey('ingredient') | titlecase }}</ion-label>
      </ion-item>

      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ _translation_service.translateKey('ingredient_text') | titlecase }}</ion-label>
            <ion-input [(ngModel)]="product.ingredients_text"></ion-input>
          </ion-item>
        </ion-list>
        
      </div>
    </ion-accordion>

    <ion-accordion *ngIf="!is_add_product" value="nutriments" toggleIcon="caret-down-circle" toggleIconSlot="end" class="ion-margin-bottom border-radius-8px">
      <ion-item slot="header" color="primary">
        <ion-label>{{ _translation_service.translateKey('nutrition_facts') | titlecase }}</ion-label>
      </ion-item>

      <div slot="content">
        <ion-list>

          <div class="nutrition-table m-0">

            <div class="nutrition-row">
              <div class="nutrition-label">{{ _translation_service.translateKey('serving_size') }}</div>
              <div class="nutrition-inputs">
                <ion-input [(ngModel)]="product.serving_size" class="nutrition-input text-right"></ion-input>
              </div>
              <ion-icon name="help-circle-outline" size="large" class="px-1" color="danger" (click)="openServingInfo()"></ion-icon>
            </div>

            <div class="nutrition-row">
              <div class="nutrition-label">{{ _translation_service.translateKey('nutrition_per') }}</div>
              <div class="nutrition-inputs">
                <ion-select [(ngModel)]="product.nutrition_data_per" placeholder="Select one" labelPlacement="end" class="nutrition-input text-right p-0">
                  <ion-select-option value="100g">100g</ion-select-option>
                  <ion-select-option value="serving">{{_translation_service.translateKey('serving')}}</ion-select-option>
                </ion-select>
              </div>
              <ion-icon name="help-circle-outline" size="large" class="px-1" color="success" (click)="openNutritionData()"></ion-icon>
            </div>
          </div>

          <ion-item class="no-border" slot="end">
            {{ _translation_service.translateKey('the_nutrition_values_below_are_based_on') }}
            <span slot="end" class="ion-text-primary ml-2">
              {{
                product.nutrition_data_per === 'serving'
                  ? _translation_service.translateKey('serving')
                  : product.nutrition_data_per
              }}
            </span>
          </ion-item>

          <!-- <ion-item-divider>
            <ion-label>Nutrition Details</ion-label>
          </ion-item-divider> -->

          <div class="nutrition-table m-0">
            <div class="nutrition-row" *ngFor="let n of nutrimentList; let i = index">
              <div class="nutrition-label">
                {{ humanizeNutrientKey(n.key) }}
              </div>

              <div class="nutrition-inputs">
                <ion-input
                  class="nutrition-input"
                  type="number"
                  placeholder="0"
                  [(ngModel)]="n.value">
                </ion-input>

                <ng-container *ngIf="getUnitsFor(n.key).length > 1; else singleUnit">
                  <ion-select
                    class="nutrition-select"
                    labelPlacement="end"
                    [(ngModel)]="n.unit">
                    <ion-select-option
                      *ngFor="let u of getUnitsFor(n.key)"
                      [value]="u">
                      {{ u }}
                    </ion-select-option>
                  </ion-select>
                </ng-container>

                <ng-template #singleUnit>
                  <div class="nutrition-unit">
                    {{ n.unit }}
                  </div>
                </ng-template>


                <ion-button
                  fill="solid"
                  color="danger"
                  size="small"
                  (click)="removeNutriment(i)">
                  ✕
                </ion-button>
              </div>
            </div>

          </div>
          <div class="ion-padding">
            <ion-button
              expand="block"
              fill="outline"
              size="small"
              (click)="openAddNutrimentPopup()">
              + {{ _translation_service.translateKey('add_nutrition') }}
            </ion-button>
          </div>

        </ion-list>
      </div>
    </ion-accordion>

    <!-- =============== Labels & Certifications =============== -->
    <ion-accordion *ngIf="!is_add_product" value="labels" toggleIcon="caret-down-circle" toggleIconSlot="end" class="ion-margin-bottom border-radius-8px">
      <ion-item slot="header" color="primary">
        <ion-label>{{ _translation_service.translateKey('labels_and_certifications') | titlecase }}</ion-label>
      </ion-item>
      
      <div slot="content">
        <ion-list>
          <!-- LABELS SECTION -->
          <!-- <ion-item lines="none">
            <ion-label class="ion-text-bold">Labels</ion-label>
          </ion-item> -->


          <!-- Input untuk menambah label -->
          <ion-item>
            <ion-input
              placeholder="{{_translation_service.translateKey('add_label')}}..."
              [(ngModel)]="newLabel"
              (keyup.enter)="addLabel()">
            </ion-input>

            <ion-button (click)="addLabel()" fill="outline" size="small">
              {{ _translation_service.translateKey('add') }}
            </ion-button>
          </ion-item>
          <!-- Chips -->
          <ion-grid>
            <ion-row>
              <ion-col size="12" *ngFor="let label of product.labels_tags">
                <ion-chip>
                  <ion-label>{{ label }}</ion-label>
                  <ion-icon name="close-circle" (click)="removeLabel(label)"></ion-icon>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-list>
        
      </div>
    </ion-accordion>

  </ion-accordion-group>


</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="submit()" [disabled]="isSubmitting" ion-margin-bottom>
    {{ _translation_service.translateKey('save') }}
  </ion-button>
</ion-footer>