
<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="ion-text-right" style="margin-top: 50px;">
      <ion-icon (click)="closeModal()" name="close" size="large"></ion-icon>
    </div>
    <ion-img src="assets/barcode.png"></ion-img>
    <div class="ion-text-center">
      <div [innerHTML]="_translation_service.translateKey('note_not_barcode')"></div>
    </div>
    <!-- <ion-item></ion-item>
    <h5 class="ion-text-center" >hasil barcode : {{barcode?.rawValue}}</h5>
    <div class="ion-text-center" >type barcode : {{barcode?.format}}</div> -->
  </ion-content>
</ion-content>
