
<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="ion-text-right">
      <ion-icon (click)="closeModal()" name="close" size="large"></ion-icon>
    </div>
    <ion-img src="assets/barcode.png"></ion-img>
    <h1 class="ion-text-center">Pastikan anda scan barcode seperti contoh di atas</h1>
    <p>
      Product makanan saat ini menggunakan barcode untuk indetifikasi. sehingga <b>QRCode</b> serta type code lain tidak bisa kami pindai/scan.
    </p>
    <p>jika anda memindai/scan code barcode, pastikan memindai/scan dengan posisi yang tepat</p>
    <!-- <ion-item></ion-item>
    <h5 class="ion-text-center" >hasil barcode : {{barcode?.rawValue}}</h5>
    <div class="ion-text-center" >type barcode : {{barcode?.format}}</div> -->
  </ion-content>
</ion-content>
