<ion-header>
  <ion-toolbar>
    <ion-title>{{ productData ? 'Edit Product' : 'Add Product' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    <ion-item *ngFor="let field of allFields">
      <ion-label position="stacked">{{ field }}</ion-label>

      <ion-textarea
        *ngIf="isLongText(product[field])"
        [(ngModel)]="product[field]"
        autoGrow="true">
      </ion-textarea>

      <ion-input
        *ngIf="!isLongText(product[field])"
        [(ngModel)]="product[field]">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    color="primary"
    [disabled]="isSubmitting"
    (click)="submit()"
    class="ion-margin-top">

    {{ productData ? 'Save Changes' : 'Add Product' }}

  </ion-button>

</ion-content>
