
<ion-content>
  <ion-icon name="close-outline" size="large" color="light" style="position: absolute; z-index: 99; top:0; right: 0; margin: 5px;"  [routerLink]="['/tabs']"></ion-icon>
  <div class="top-fill">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="ion-text-left">
          <img src="assets/quotes-left.png">
        </ion-col>
      </ion-row>
      <ion-row color="light" class=" ion-text-left w-75 text-white ion-padding-bottom" style="font-size: 24px; min-height: 150px;">

        <ion-col>
          <ion-text>{{_translation_service.translateKey('quotes_intro')}}</ion-text>
        </ion-col>
      </ion-row>
      <!-- <hr style="text-align: left;
      width: 80%;
      margin-left: 6px;
      background-color: white;"> -->

      <div class="line-with-circle">
        <div class="line"></div>
        <div class="circle">
          <!-- You can customize the circle content here, e.g., an icon or text -->
          <span>&#8226;</span>
        </div>
        <div class="text">Health</div>
      </div>
      <ion-row>
        <ion-col>
          <ion-list lines="none" style="background: none rgb(253, 147, 70); font-size: 1.3rem; color: white;">

            <ion-item color="primary">
              <ion-select justify="start"  (ionChange)="changeSelectLang($event)"  [(ngModel)]="currentLanguage" interface="action-sheet">
                <div slot="label"><ion-icon name="language-outline" size="large"></ion-icon></div>
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="id">Indonesia</ion-select-option>
                <ion-select-option value="fr">France</ion-select-option>
                <ion-select-option value="spain">Spain</ion-select-option>
                <ion-select-option value="russia">Russia</ion-select-option>
                <ion-select-option value="turkey">Turkey</ion-select-option>
                <ion-select-option value="portugis">Portuguese</ion-select-option>
                <ion-select-option value="dutch">Dutch / Netherlands</ion-select-option>
                <ion-select-option value="egypt">Egypt</ion-select-option>
                <ion-select-option value="german">German</ion-select-option>
                <ion-select-option value="it">Italy</ion-select-option>
                <ion-select-option value="jpn">Japan</ion-select-option>
                <ion-select-option value="korean">Korean</ion-select-option>
                <ion-select-option value="zh_cn">Chinese</ion-select-option>
                <ion-select-option value="hi">Hindi/India</ion-select-option>
                <ion-select-option value="thai">Thailand</ion-select-option>
                <ion-select-option value="viet">Vietnam</ion-select-option>
                <ion-select-option value="sunda">Bahasa Sunda</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <!-- Bottom fill area with text and half-curve background color -->
  <div class="bottom-fill d-flex justify-content-between ion-margin-start ion-margin-end">
    
    <ion-badge color="light" class="ion-text-capitalize"><div style="font-size: 1rem; padding:0.5rem 1rem">NutriCheck</div></ion-badge>
    <a href="https://www.instagram.com/nutricheck.official/" target="_blank" class="pt-1"><ion-icon name="logo-instagram" size="small"></ion-icon></a>
    <a href="http://axeonsoft.com/en" target="_blank" class="pt-1"><ion-icon name="globe-outline" size="small"></ion-icon></a>
    <div (click)="mailto('admin@axeonsoft.com')" class="pt-1"><ion-icon color="primary" name="mail-outline" size="small"></ion-icon></div>
    <ion-button class="ion-text-capitalize"  fill="outline" color="primary"  shape="round" (click)="toIntro1()">{{_translation_service.translateKey('next')}}</ion-button> 
  
    
  </div>
</ion-content>
