<!-- <ion-content [fullscreen]="true" class="ion-padding">
  <swiper-container [slidesPerView]="1" [loop]="true"  [autoplay]="true" pagination="true">
    <swiper-slide>
      <ion-img
        src="https://ionicframework.com/docs/demos/api/slides/slide-1.png"
      ></ion-img>
      <h2>Welcome</h2>
      <p>
        is a practical preview of the ionic framework in action, and a
        demonstration of proper code use.
      </p>
    </swiper-slide>
    <swiper-slide>
      <ion-img
        src="https://ionicframework.com/docs/demos/api/slides/slide-1.png"
      ></ion-img>
      <h2>Welcome</h2>
      <p>
        is a practical preview of the ionic framework in action, and a
        demonstration of proper code use.
      </p>
    </swiper-slide>
    
  </swiper-container>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="navigateToHome()">Go to Home </ion-title>
  </ion-toolbar>
</ion-footer> -->



<ion-content>
  <!-- Top fill image -->

  <div class="top-fill">
    <!-- <div style="position: absolute; z-index: 99; right: 10px; top:10px">
      <ion-icon name="information-circle-outline" aria-hidden="true" size="large" color="light"></ion-icon>
    </div> -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="ion-text-left">
          <img src="assets/quotes-left.png">
        </ion-col>
      </ion-row>
      <ion-row color="light" class=" ion-text-left w-75 text-white ion-padding-bottom" style="font-size: 24px; min-height: 150px;">

        <ion-col>
          <ion-text color="light">{{_translation_service.translateKey('quotes_intro')}}</ion-text>
        </ion-col>
      </ion-row>
      <!-- <hr style="text-align: left;
      width: 80%;
      margin-left: 6px;
      background-color: white;"> -->

      <div class="line-with-circle">
        <div class="line"></div>
        <div class="circle">
          <!-- You can customize the circle content here, e.g., an icon or text -->
          <span>&#8226;</span>
        </div>
        <div class="text">Health</div>
      </div>
      <ion-row>
        <ion-col>
          <ion-list lines="none" style="background: none rgb(253, 147, 70); font-size: 1.3rem; color: white;">

            <ion-item color="primary">
              <ion-select justify="start"  (ionChange)="changeSelectLang($event)"  [(ngModel)]="currentLanguage" interface="action-sheet">
                <div slot="label"><ion-icon name="language-outline" size="large"></ion-icon></div>
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="id">Indonesia</ion-select-option>
                <ion-select-option value="fr">France</ion-select-option>
                <ion-select-option value="spain">Spain</ion-select-option>
                <ion-select-option value="russia">Russia</ion-select-option>
                <ion-select-option value="turkey">Turkey</ion-select-option>
                <ion-select-option value="portugis">Portuguese</ion-select-option>
                <ion-select-option value="dutch">Dutch / Netherlands</ion-select-option>
                <ion-select-option value="egypt">Egypt</ion-select-option>
                <ion-select-option value="german">German</ion-select-option>
                <ion-select-option value="it">Italy</ion-select-option>
                <ion-select-option value="jpn">Japan</ion-select-option>
                <ion-select-option value="korean">Korean</ion-select-option>
                <ion-select-option value="zh_cn">Chinese</ion-select-option>
                <ion-select-option value="hi">Hindi/India</ion-select-option>
                <ion-select-option value="thai">Thailand</ion-select-option>
                <ion-select-option value="viet">Vietnam</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div class="top-image">
      <img src="assets/paper-bag-vegetables.gif" alt="Top Fill Image">
      <h1 class="ion-margin-bottom ion-padding-bottom">{{_translation_service.translateKey('welcome')}}</h1>
    </div> -->

  </div>

  <!-- Bottom fill area with text and half-curve background color -->
  <div class="bottom-fill d-flex justify-content-between ion-margin-start ion-margin-end">
    
    <ion-badge color="light" class="ion-text-capitalize"><div style="font-size: 1rem; padding:0.5rem 1rem">{{_translation_service.translateKey('stay_health')}}</div></ion-badge>
    <ion-icon name="logo-instagram" size="small"></ion-icon>
    <ion-icon name="globe-outline" size="small"></ion-icon>
    <ion-icon name="logo-twitter" size="small"></ion-icon>
    <!--
    
    <div class="content">
      <ion-list style="background: none rgb(253, 147, 70); font-size: 1.3rem; color: white;">
        <ion-select  (ionChange)="changeSelectLang($event)" [(ngModel)]="currentLanguage" aria-label="Language" interface="action-sheet" placeholder="" style="justify-content: center;">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="id">Indonesia</ion-select-option>
        </ion-select>
      </ion-list>
    </div>

    <ion-button  fill="outline" color="light"  shape="round" class="next-page" (click)="navigateToHome()">Next</ion-button> -->
    <ion-button class="ion-text-capitalize"  fill="outline" color="primary"  shape="round" (click)="navigateToHome()">{{_translation_service.translateKey('next')}}</ion-button> 
  
    
  </div>
</ion-content>
