<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>{{_translation_service.translateKey('setting')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Setting</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-list>
    <ion-item>
      <ion-card>
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        AMBIL FOTO
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-fab-button (click)="scanSingleBarcode()">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
        SCAN BARCODE SEKALI
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-fab-button (click)="scanFromImage()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
      SCAN BARCODE DARI GAMBAR
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item-group>

      <ion-item-divider>
        <ion-label> Profile </ion-label>
      </ion-item-divider>
      <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('sign_in')}}</ion-label>
        <!-- <ion-note slot="end">15</ion-note> -->
      </ion-item>
      <!-- <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="person-add-outline" slot="start"></ion-icon>
        <ion-label> Sign up / Daftar </ion-label>
      </ion-item> -->

      <ion-item-divider>
        <ion-label> Product </ion-label>
      </ion-item-divider>
      <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="duplicate-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('add_product')}}</ion-label>
      </ion-item>
      <!-- <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit Product</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/tabs/bookmark']">
        <ion-icon aria-hidden="true" name="bookmark-outline" slot="start"></ion-icon>
        <ion-label>Saved</ion-label>
      </ion-item>
      <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="list-outline" slot="start"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item> -->
      <ion-item-divider>
        <ion-label> Lain-lain </ion-label>
      </ion-item-divider>
      <!-- <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="heart-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('language')}}</ion-label>
      </ion-item> -->
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="language-outline" slot="start"></ion-icon>
          <ion-select (ionChange)="changeSelectLang($event)" [(ngModel)]="currentLanguage" aria-label="language">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="id">Indonesia</ion-select-option>
            <ion-select-option value="fr">France</ion-select-option>
            <ion-select-option value="spain">Spain</ion-select-option>
            <ion-select-option value="russia">Russia</ion-select-option>
            <ion-select-option value="turkey">Turkey</ion-select-option>
            <ion-select-option value="portugis">Portuguese</ion-select-option>
            <ion-select-option value="dutch">Dutch / Netherlands</ion-select-option>
            <ion-select-option value="egypt">Egypt</ion-select-option>
            <ion-select-option value="german">German</ion-select-option>
            <ion-select-option value="it">Italy</ion-select-option>
            <ion-select-option value="jpn">Japan</ion-select-option>
            <ion-select-option value="korean">Korean</ion-select-option>
            <ion-select-option value="zh_cn">Chinese</ion-select-option>
            <ion-select-option value="hi">Hindi/India</ion-select-option>
            <ion-select-option value="thai">Thailand</ion-select-option>
            <ion-select-option value="viet">Vietnam</ion-select-option>
            <ion-select-option value="sunda">Bahasa Sunda</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item routerLink="/intro">
        <ion-icon aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('introduction')}}</ion-label>
      </ion-item>
      <!-- <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="heart-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('donation')}}</ion-label>
      </ion-item>
      <ion-item (click)="functionNotReady()">
        <ion-icon aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{_translation_service.translateKey('about_us')}}</ion-label>
      </ion-item> -->

    </ion-item-group>
  </ion-list>
</ion-content>

<!-- <ion-fab vertical="center" horizontal="center" slot="fixed">
  <ion-fab-button (click)="scanSingleBarcode()">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="scanFromImage()">
    <ion-icon name="image-outline"></ion-icon>
  </ion-fab-button>
</ion-fab> -->

