<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="image-loader" style="position: absolute; top:50%; left:50%">
    <ion-spinner color="primary" name="crescent" size="large"></ion-spinner>
  </div>
  <ion-img [src]="url_full" style="width: 100%;" 
  (ionError)="handleImageError()"
  (ionImgDidLoad)="handleImageDidLoad()"></ion-img>
  
</ion-content>
