<ion-accordion value="images" toggleIcon="caret-down-circle" toggleIconSlot="end" class="ion-margin-top ion-margin-bottom border-radius-8px">
  <ion-item slot="header" color="primary">
    <ion-label>{{ _translation_service.translateKey('image') | titlecase }}</ion-label>
  </ion-item>

  <div class="ion-padding" slot="content">

    <ng-container *ngFor="let field of fields">

      <ng-container *ngIf="!is_add_product || field === 'image_front_url'">
        <ion-card class="image-card">
          <ion-card-content>

            <div class="image-row">

              <!-- Label -->
              <div class="ion-margin-bottom text-center">
                <b>{{ labelMap[field] }}</b>
              </div>

              <!-- Preview -->
              <div class="preview-wrapper text-center">
                <div class="loader-wrapper" *ngIf="imageLoading[field]">
                  <ion-spinner></ion-spinner>
                </div>

                <img
                  *ngIf="product[getThumbField(field)]"
                  class="preview-img"
                  [src]="product[getThumbField(field)]"
                  (load)="onLoaded(field)"
                  (error)="onError(field)"
                />


                <div *ngIf="!product[field] && !imageLoading[field]" class="placeholder-box">
                  <span>{{ _translation_service.translateKey('no_image') }}</span>
                </div>
              </div>

              <hr>

              <!-- File Upload -->
              <!-- <div class="upload-box" *ngIf="field !== 'image_packaging_url'">
                <input
                  type="file"
                  accept="image/*"
                  class="file-input"
                  (change)="onSelect($event, field)"
                />
              </div> -->

              <!-- Camera & Gallery -->
              <div class="image-action-wrapper text-center">
                <ion-button
                  fill="outline"
                  class="icon-button"
                  (click)="openCamera(field)"
                >
                  <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
                </ion-button>

                <ion-button
                  fill="outline"
                  class="icon-button"
                  (click)="openGallery(field)"
                >
                  <ion-icon name="images-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </div>



            </div>

          </ion-card-content>
        </ion-card>

      </ng-container>
    </ng-container>

  </div>
</ion-accordion>
