<ion-header [translucent]="true">

  <ion-toolbar>
    <form class="ion-padding-top"  [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

      <ion-grid>
        <ion-row>
          <ion-searchbar
            formControlName="name"
            type="text"
            aria-label="Name"
            enterkeyhint="search"
            [debounce]="1000"
            (ionInput)="handleInput($event)"
            (ionFocus)="onSearchFocus()"
            (ionBlur)="onSearchBlur()"
          ></ion-searchbar>
        </ion-row>
        <ion-row class="ion-align-items-center ion-padding-start ion-padding-end" >
          <ion-col size="6">
            <ion-text color="danger"><p (click)="reloadPage()">Reset Search</p></ion-text>
          </ion-col>
          <ion-col size="6">

            <ion-select justify="end" formControlName="country" (ionChange)="submitForm()" class="ion-no-padding">
              <ion-select-option value="indonesia">From Indonesia</ion-select-option>
              <ion-select-option value="">From World</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="show_debounce">
    <ion-item *ngFor="let result of results">
      <ion-label   (click)="addToInput(result)">{{ result }}</ion-label>
    </ion-item>
  </ion-list>
  
  <div *ngIf="showTextMain && loaded">
    <h1 class="ion-text-center ion-margin-start ion-margin-end">Detail Product</h1>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-a.svg">
          </ion-col>
          <ion-col size="8">
            <div>Label kandungan nutrisi pada product.</div>
            <small>(A) Sangat baik (B) Baik (C) Cukup (D) Kurang </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div>Label kandungan nutrisi pada product.</div>
            <small>(A) Sangat baik (B) Baik (C) Cukup (D) Kurang </small>
          </ion-col>
          <ion-col size="4">
            <img src="https://static.openfoodfacts.org/images/attributes/ecoscore-a.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>


  <div  *ngIf="product_present else showTest">
    <ion-list size="6" class="ion-margin-bottom" *ngIf="loaded">
      <ion-card *ngFor="let item of products" >
        <ion-grid  (click)="openProduct(item.code)">
          <ion-row>
            <ion-col size="3">
              <img style="border-radius: 10px;" [src]="item.image_front_url || item.image_url || item.image_ingredients_url || item.image_nutrition_url || item.image_packaging_url || 'https://world.openfoodfacts.org/images/icons/dist/packaging.svg'" class="custom-thumbnail">
            </ion-col>
            <ion-col size="6">
              <!-- <ion-card-subtitle>{{item.id}}</ion-card-subtitle> -->
              <ion-card-subtitle><h6 class="ion-no-margin">{{item.product_name || item?.brands }}</h6></ion-card-subtitle>
              <div class="ion-margin-top ion-margin-bottom">
                <div>Quantity : {{item?.quantity || '-'}}</div>
                <div>Brand : {{item?.brands || '-'}}</div>
              </div>

              <!-- <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <ion-button expand="block" color="danger">
                    <ion-icon slot="icon-only" name="heart" size="small"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row> -->
            </ion-col>

            <ion-col size="3">
              <img *ngIf="item['nutriscore_grade']" style="border-radius: 10px;" src="https://static.openfoodfacts.org/images/attributes/nutriscore-{{item['nutriscore_grade']}}.svg">
              <img *ngIf="item['ecoscore_grade']" style="border-radius: 10px;" src="https://static.openfoodfacts.org/images/attributes/ecoscore-{{item['ecoscore_grade']}}.svg">
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card>
    </ion-list>
    
  </div>
  
  <ion-list *ngFor="let item of itemsArray">

    <ion-item  *ngIf="!loaded">
      <ion-thumbnail slot="start"  class="custom-thumbnail">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <!-- Add the ion-infinite-scroll component at the bottom of your content -->
  <ion-infinite-scroll  *ngIf="result" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template class="ion-text-center" #showTest>
    <div  class="ion-text-center" >
      <h1>KOSONG</h1>
      <p>Coba untuk mencari di negara lain di dalam form pencarian</p>
    </div>
  </ng-template>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
</ion-content>
