<!-- <ion-header [translucent]="true">
  <ion-toolbar style="box-shadow: none !important;">
    <ion-title>modal-barcode</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">

    <div class="ion-text-right">
      <ion-icon (click)="closeModal()" name="close" size="large"></ion-icon>
    </div>

    <div class="ion-text-center ion-margin-top">
      <svg #generate_barcode id="generate_barcode" class="ion-text-center" style="  display: block;
      margin: auto;
      width: 100%; /* Adjust the width as needed */
      text-align: center;"></svg>
      <h1 class="ion-text-center">{{_translation_service.translateKey('note_found_barcode')}}</h1>

      <!-- <ion-item></ion-item>
      <h5 class="ion-text-center" >hasil barcode : {{barcode?.rawValue}}</h5>
      <div class="ion-text-center" >type barcode : {{barcode?.format}}</div> -->
      <ion-button (click)="goToProduct()" class="ion-text-center">{{_translation_service.translateKey('check_product')}}</ion-button>
    </div>
  </ion-content>
</ion-content>
