ul {
  padding-inline-start: 20px !important;
}

ion-row {
  align-items: center !important;
}


.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 80%; /* Set the width of your slides as needed */
}
