ul {
  padding-inline-start: 20px !important;
}

ion-row {
  align-items: center !important;
}


.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 80%; /* Set the width of your slides as needed */
}

.transparent-footer {
  ion-toolbar {
    --background: transparent;
    --ion-toolbar-background: transparent;
    box-shadow: none;
    border: none;
  }

  ion-button {
    --background: transparent;
  }
}

.action-footer ion-button {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary);
}
