<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{_translation_service.translateKey('popup_header_info_nutri_score')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content class="ion-padding">
  <h1 class="ion-text-center ion-text-capitalize">{{_translation_service.translateKey('popup_title_info_nutri_score')}}</h1>
  <p>{{_translation_service.translateKey('popup_note_1_info_nutri_score')}}</p>
  <p>{{_translation_service.translateKey('popup_note_2_info_nutri_score')}}</p>
  <p>{{_translation_service.translateKey('source_from')}} : <a href="https://world.openfoodfacts.org/nutriscore" target="_blank">nutriscore</a></p>
  <!-- <p>
    Warning: the amount of fruits, vegetables and nuts is not specified on the label, it was estimated from the list of ingredients: 0
    This product is not considered a beverage for the calculation of the Nutri-Score.
  </p> -->
  <ion-item-divider style="margin-bottom: 3rem;"></ion-item-divider>
  <div *ngIf="product?.nutriscore_data" >
    <b class="ion-text-capitalize">{{_translation_service.translateKey('positif_point')}} : {{product?.nutriscore_data?.positive_points}}</b>
    <ion-list>
      <ion-item>
        <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap">Protein : {{product?.nutriscore_data?.proteins_points}} / 5 (value: {{product?.nutriscore_data?.proteins}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap ion-text-capitalize">{{_translation_service.translateKey('fiber')}} : {{product?.nutriscore_data?.fiber_points}} / 5 (value: {{product?.nutriscore_data?.fiber}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap">{{_translation_service.translateKey('fruit_vegetable_nutriscore')}}  : {{product?.nutriscore_data?.fruits_vegetables_nuts_colza_walnut_olive_oils_points}} / 5 (value: {{product?.nutriscore_data?.fruits_vegetables_nuts_colza_walnut_olive_oils}})</ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top"><b class="ion-text-capitalize">{{_translation_service.translateKey('negatif_point')}} : {{product?.nutriscore_data?.negative_points}}</b></div>
    <ion-list>
      <ion-item>
        <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap">Energy/Kalori : {{product?.nutriscore_data?.energy_points}} / 10 (value: {{product?.nutriscore_data?.energy}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap ion-text-capitalize">{{_translation_service.translateKey('sugar')}} : {{product?.nutriscore_data?.sugars_points}} / 10 (value: {{product?.nutriscore_data?.sugars}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap ion-text-capitalize">{{_translation_service.translateKey('saturated_fat')}}: {{product?.nutriscore_data?.saturated_fat_points}} / 10 (value: {{product?.nutriscore_data?.saturated_fat}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
        <ion-label class="ion-text-wrap ion-text-capitalize">Sodium : {{product?.nutriscore_data?.sodium_points}} / 10 (value: {{product?.nutriscore_data?.sodium}})</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <!-- 
  <div class="ion-margin-top"><b>Score Nutrisi : {{product?.nutriscore_data?.score}}</b></div>
  <b>Peringkat nutrisi : {{product?.nutriscore_data?.grade}} </b> -->
</ion-content>