<ion-header>
  <ion-toolbar>
    <ion-title>Kalkulasi nilai nutrisi</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content class="ion-padding">
  <!-- <p>
    Warning: the amount of fruits, vegetables and nuts is not specified on the label, it was estimated from the list of ingredients: 0
    This product is not considered a beverage for the calculation of the Nutri-Score.
  </p> -->

  <b>Positif point : {{product?.nutriscore_data?.positive_points}}</b>
  <ion-list>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Protein : {{product?.nutriscore_data?.proteins_points}} / 5 (nilai: {{product?.nutriscore_data?.proteins}}, pembulatan nilai: {{product?.nutriscore_data?.proteins_value}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Serat : {{product?.nutriscore_data?.fiber_points}} / 5 (nilai: {{product?.nutriscore_data?.fiber}}, pembulatan nilai: {{product?.nutriscore_data?.fiber_value}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" size="small" color="primary" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Buah-buahan, sayuran, kacang-kacangan, dan colza/walnut/minyak zaitun : {{product?.nutriscore_data?.fruits_vegetables_nuts_colza_walnut_olive_oils_points}} / 5 (nilai: {{product?.nutriscore_data?.fruits_vegetables_nuts_colza_walnut_olive_oils}}, pembulatan nilai: {{product?.nutriscore_data?.fruits_vegetables_nuts_colza_walnut_olive_oils_value}})</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-margin-top"><b>Negatif point : {{product?.nutriscore_data?.negative_points}}</b></div>
  <ion-list>
    <ion-item>
      <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Energy/Kalori : {{product?.nutriscore_data?.energy_points}} / 10 (nilai: {{product?.nutriscore_data?.energy}}, pembulatan nilai: {{product?.nutriscore_data?.energy_value}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Gula : {{product?.nutriscore_data?.sugars_points}} / 10 (nilai: {{product?.nutriscore_data?.sugars}}, pembulatan nilai: {{product?.nutriscore_data?.sugars_value}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Lemak jenuh : {{product?.nutriscore_data?.saturated_fat_points}} / 10 (nilai: {{product?.nutriscore_data?.saturated_fat}}, pembulatan nilai: {{product?.nutriscore_data?.saturated_fat_value}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ban-outline" size="small" color="danger" style="margin-right: 5px;"></ion-icon>
      <ion-label class="ion-text-wrap">Sodium : {{product?.nutriscore_data?.sodium_points}} / 10 (nilai: {{product?.nutriscore_data?.sodium}}, pembulatan nilai: {{product?.nutriscore_data?.sodium_value}})</ion-label>
    </ion-item>
  </ion-list>
<!-- 
  <div class="ion-margin-top"><b>Score Nutrisi : {{product?.nutriscore_data?.score}}</b></div>
  <b>Peringkat nutrisi : {{product?.nutriscore_data?.grade}} </b> -->
</ion-content>