<ion-header [translucent]="true">

  <ion-toolbar color="primary" style="padding-top: 50px;">
    <form class="ion-padding-top"  [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

      <ion-grid>
        <ion-row>
          <ion-searchbar
            #searchBar
            formControlName="name"
            type="text"
            aria-label="Name"
            placeholder="{{_translation_service.translateKey('search_product')}}"
            enterkeyhint="Search"
            (ionInput)="handleInput($event)"
            (ionFocus)="onSearchFocus()"
          ></ion-searchbar>
        </ion-row>
        <ion-row class="ion-align-items-center ion-padding-start ion-padding-end" >
          <ion-col size="6">
            <!-- <ion-text color="danger"><p (click)="reloadPage()">Reset Search</p></ion-text> -->
            <ion-button color="light" class="ion-text-capitalize" (click)="reloadPage()" size="small">{{_translation_service.translateKey('clear_search')}}</ion-button>
          </ion-col>
          <ion-col size="6">

            <ion-select justify="end" formControlName="country" (ionChange)="submitForm()" class="ion-no-padding">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="indonesia">Indonesia</ion-select-option>
              <ion-select-option value="france">France</ion-select-option>
              <ion-select-option value="united states">USA</ion-select-option>
              <ion-select-option value="russia">Russia</ion-select-option>
              <ion-select-option value="saudi arabia">Saudi Arabia</ion-select-option>
              <ion-select-option value="italy">Italy</ion-select-option>
              <ion-select-option value="japan">Japan</ion-select-option>
              <ion-select-option value="north korea">North Korean</ion-select-option>
              <ion-select-option value="south korea">South Korean</ion-select-option>
              <ion-select-option value="china">China</ion-select-option>
              <ion-select-option value="india">India</ion-select-option>
              <ion-select-option value="thailand">Thailand</ion-select-option>
              <ion-select-option value="vietnam">Vietnam</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="ion-no-margin" color="light" *ngIf="search_histories" style="position:absolute; z-index: 99; width: 100%; display: block;">
    <ion-list style="height:auto; overflow: auto;">
      <ion-item *ngFor="let result of results_search_histories; let i = index">
        <ion-label   (click)="addToInput(result)">{{ result }}</ion-label>
        <ion-icon (click)="deleteObjectHistory(result)" color="" slot="end" name="close-outline"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-card>

  
  <div *ngIf="showTextMain && loaded">
    <div class=" ion-margin-top ion-padding-top ion-margin-bottom ion-margin-bottom ion-text-center ion-text-capitalize" ><p>{{_translation_service.translateKey('note_check_product_in_world')}}</p></div>
    <!-- <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img src="assets/nutriscore/nutriscore-a.svg">
          </ion-col>
          <ion-col size="8">
            <div>Label kandungan nutrisi pada product.</div>
            <small>(A) Sangat baik (B) Baik (C) Cukup (D) Kurang </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div>Nilai dampak kemasan pada lingkungan.</div>
            <small>(A) Sangat baik (B) Baik (C) Cukup (D) Kurang </small>
          </ion-col>
          <ion-col size="4">
            <img src="assets/ecoscore/ecoscore-a.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img src="assets/nova/nova-group-1.svg">
          </ion-col>
          <ion-col size="8">
            <div>Proses produksi pada product.</div>
            <small>(1) 1 kali proses (2) 2 kali proses (n) dan seterusnya </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    
  </div>


  <div  *ngIf="product_present">
    <ion-item *ngIf="result_products" class="ion-margin-top ion-text-right">
      <ion-label class="ion-margin-top ion-text-right">{{_translation_service.translateKey('total_product')}} : {{result_products.count}}</ion-label>
    </ion-item>
    <ion-list size="6" class="ion-margin-bottom" *ngIf="loaded">
      <ion-card *ngFor="let item of list_products; let i = index" >
        <ion-grid  (click)="openProduct(item.code, i)">
          <ion-row>
            <ion-col size="3">
              <img style="border-radius: 10px;" [src]="item.image_small_url || 'assets/empty-product.png'" class="custom-thumbnail">
            </ion-col>
            <ion-col size="6">
              <!-- <ion-card-subtitle>{{item.id}}</ion-card-subtitle> -->
              <ion-card-subtitle><h6 class="ion-no-margin">{{item.product_name || item?.brands }}</h6></ion-card-subtitle>
              <div class="ion-margin-top ion-margin-bottom">
                <div>{{_translation_service.translateKey('qty')}} : {{item?.quantity || '-'}}</div>
                <div>{{_translation_service.translateKey('brand')}} : {{item?.brands || '-'}}</div>
                <div>{{_translation_service.translateKey('country_of_manufacture')}} : {{item?.manufacturing_places || item?.origins || '-'}}</div>
                <div>
                  {{ _translation_service.translateKey('countries_where_marketed') }} : 
                  {{ (item?.countries | regexReplace:'[a-z]{2}:':'') 
                    || (item?.countries_tags?.join(', ') | regexReplace:'[a-z]{2}:':'') 
                    || '-' }}
                </div>

              </div>

              <!-- <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <ion-button expand="block" color="danger">
                    <ion-icon slot="icon-only" name="bookmark" size="small"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row> -->
            </ion-col>

            <ion-col size="3">
              <img *ngIf="item['nutriscore_grade']" style="border-radius: 10px;" src="assets/nutriscore/nutriscore-{{item['nutriscore_grade']}}.svg">
              <!-- <img *ngIf="item['ecoscore_grade']" style="border-radius: 10px;" src="assets/ecoscore/ecoscore-{{item['ecoscore_grade']}}.svg"> -->
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card>
    </ion-list>
    
  </div>
  
  <ion-list *ngFor="let item of loaderResult">

    <ion-item  *ngIf="!loaded">
      <ion-thumbnail slot="start"  class="custom-thumbnail">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <!-- Add the ion-infinite-scroll component at the bottom of your content -->
  <ion-infinite-scroll  *ngIf="result_products" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="result_products?.count == 0">
    <ion-item class="ion-text-center ion-margin-top">
      <ion-label>
        <h1>{{_translation_service.translateKey('product_empty')}}</h1>
        <p class="ion-text-wrap">{{_translation_service.translateKey('try_check_other_country')}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="error_result == 'HttpErrorResponse'" class="">
    <ion-item class="ion-text-center ion-margin-top">
      <ion-label>
        <h1>{{_translation_service.translateKey('check_conection')}}</h1>
      </ion-label>
    </ion-item>
  </div>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
</ion-content>
