
<ion-icon name="close-outline" size="large" color="light" style="position: absolute; z-index: 99; top:0; right: 0; margin: 5px;"  [routerLink]="['/tabs']"></ion-icon>
<ion-toolbar color="primary" style="padding-top: 50px;">
  <ion-title class="ion-text-center ion-padding-top"><h1>{{_translation_service.translateKey('intro2_title')}}</h1></ion-title>
  <div class="text-center">{{_translation_service.translateKey('intro2_subtitle')}}</div>
</ion-toolbar>
<ion-content>
  <!-- Top fill image -->
  <div class="top-fill">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="card">
            <div class="circle">
              <ion-icon size="large" color="primary" name="search-outline"></ion-icon>
            </div>
            <ion-grid class="py-3">
              <ion-row>
                <ion-col size="6">
                  <img src="assets/intro/search-page.png">
                </ion-col>
                <ion-col size="6" class="">
                  <ion-row>
                    <ion-col size="2"><ion-icon name="leaf-outline" color="success"></ion-icon></ion-col>
                    <ion-col class="text-left text-dark">{{_translation_service.translateKey('intro2_card_note1')}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"><ion-icon name="leaf-outline" color="success"></ion-icon></ion-col>
                    <ion-col class="text-left text-dark">{{_translation_service.translateKey('intro2_card_note2')}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"><ion-icon name="leaf-outline" color="success"></ion-icon></ion-col>
                    <ion-col class="text-left text-dark">{{_translation_service.translateKey('intro2_card_note3')}}</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Bottom fill area with text and half-curve background color -->
  <div class="bottom-fill d-flex justify-content-between ion-margin-start ion-margin-end">

    <ion-button (click)="back()" class="ion-text-capitalize"  fill="outline" color="primary"  shape="round"><ion-icon name="caret-back-outline"></ion-icon></ion-button> 
    <a href="https://www.instagram.com/nutricheck.official/" target="_blank" class="pt-1"><ion-icon name="logo-instagram" size="small"></ion-icon></a>
    <a href="http://axeonsoft.com/en" target="_blank" class="pt-1"><ion-icon name="globe-outline" size="small"></ion-icon></a>
    <div (click)="mailto('admin@axeonsoft.com')" class="pt-1"><ion-icon color="primary" name="mail-outline" size="small"></ion-icon></div>
    <ion-button class="ion-text-capitalize"  fill="outline" color="primary"  shape="round" (click)="toIntro3()">{{_translation_service.translateKey('next')}}</ion-button> 
    
  </div>
</ion-content>
